doctype html
html(ng-app='blog', ng-controller='blogController')
  head
    meta(charset='utf-8')
    meta(name='description', content='The world is a book and those who do not travel read only one page. Welcome to the collection of stories about traveling, food, photography and blah blah.')
    meta(name='keywords', content='', property='keywords')
    meta(name='canonical', content='http://kolton.io/', property='canonical')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    meta(name='og:title', content='Thailand Travel Blog', property='og:title')
    meta(name='og:description', content='The world is a book and those who do not travel read only one page. Welcome to the collection of stories about traveling, food, photography and blah blah.', property='og:description')
    meta(name='application-name', content='Thailand Travel Blog')

    base(href='/')
    
    //- CSS
    link(rel='stylesheet', type='text/css', href='/Blog/resources/main.min.css')

    title Thailand Travel Blog
  body
    header
      nav
        ul
          li WORK
          li ABOUT
          li
            h1 KOLTON
          li CONTACT
          li PRINTS
    
    .site-main-content-container
      ui-view
    
    footer

    //- Javascript
    script(src='/Blog/resources/main.min.js')
