//===========================//
//========== FONTS ==========//
//===========================//
$primary-font: 'https://fonts.googleapis.com/css?family=Lato:100,300,400';


//============================//
//========== COLORS ==========//
//============================//
// Default Colors
$white          : #fff;
$black          : #2e2e2e;

// Font Colors
$gray:  #8a8a8a;


//===========================//
//========= LAYOUT ==========//
//===========================//
$header-height: 100px;
